<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить книгу</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Введите название: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author">

    <label for="released">Дата выхода: </label>
    <input type="text" th:field="*{released}" id="released">

    <hr/>

    <input type="submit" value="Обновить!">
</form>

<br/>

<form th:method="GET" th:action="@{/books}" >
    <input type="submit" value="Назад">
</form>

</body>
</html>